/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%; /* 1?? Needed to make Flexbox work */
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
}

nav a {
    text-decoration: none;
    color: #000; /* your base color */
}

nav a:visited {
    color: inherit;
}