<div class="content-wrapper">
    <h1>Impressum</h1>
    <p>
        <b>Rotondo Consulting</b><br />
        Richard-Strauss-Ring 30A<br />
        94060 Pocking<br />
        Telefon: +49 (0) 151 / 67066513<br />
        Homepage: <a href="www.rotondo-consulting.de">www.rotondo-consulting.de</a><br />
        E-Mail: mail:mail&#64;rotondo-consulting.de
    </p>
    <p>
        Verantwortlich:<br />
        Caterina Rotondo, Gesch&auml;ftsf&uuml;hrer
    </p>

    <h2>Umsatzsteuer-ID</h2>
    Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &#167;27a Umsatzsteuergesetz: <br />
    DE361653340

    <h2>EU-Streitschlichtung</h2>
    Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:<br />
    <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr</a>.<br />
    Unsere E-Mail-Adresse finden Sie oben im Impressum.<br />
    Es besteht keine Verpflichtung und keine Bereitschaft zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle.

    <h2>Bildnachweis</h2>

</div>
